//============================
//    Name: Header
//============================

$$header = #ffffff;
$$header-text = rgba(#000, 0.50);
$$header-text-active = #b00152;

__pageMaxWidth = (1440 - 140 * 2 - 0)px;
_pageShadow = 0px 4px 15px rgba(0, 0, 0, 0.1);

myheader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: __pageMaxWidth;
			margin: auto;
			padding 15px 0 12px
			gap: 12px;
			height: auto;
			background-color #fff;
			
			+media(1199) {
				padding-left 20px
				padding-right 20px
			}
			+media(991) {
				box-shadow: _pageShadow
			}
			+media(678) {
				grid-auto-columns: 1fr auto;
				padding 8px 20px
				padding-right 10px
			}
		}
		.relative {
			position relative
			z-index 124
		}
		.section--fixed {
			+media(991) {
				position fixed
				width 100%
				height 0
				left 0
				top 0
				z-index 125
			}
		}
		.topfixer {
			font-size 0
			height 0
		}
		.section--background {
			background-color $$header
		}
		.item {
			display: grid;
		}
		.svg-logo {
			display: grid;
			width 172px
			height 26px
		}
		.brand {
			font-setup(fmain, 22, 700);
			color: #000;
			line-height 26px;
			+media(552) {
				font-size 20px
			}
		}
		.brand--color {
			color: $$Pink;
		}
		.list {
			display: grid;
			grid-auto-flow: column;
			gap: 30px;
			+media(678) {
				display none
			}
		}
		.list-item {
			text3();
			text-decoration none
			color: $$header-text
			
			transition: .25s __cubic;
			hoverText();
		}
		.navigat {
			display: grid;
			grid-auto-columns: auto;
			justify-content: space-between;
			grid-auto-flow: column;
			align-items: center;
			// padding 15px 0 19px;
			gap: .8rem;
			+media(768) {
				gap: unset;
			}
		}
		.second-navigat {
			display: grid;
			grid-auto-flow: column;
			justify-content space-between;
			+media(991) {
				display none
				height 0
			}
		}
		.second {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;
			gap: 30px

		}
		.second-item {
			text2();
			color: #000
			transition: .25s __cubic;
			hoverText()
		}
		.address {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;		
			gap: 30px;
		}
		.phone {
			text2()
			color: #000
			hoverText()
		}
		.phone-mobile {
			display: grid;
			width 14px
			height 14px
			fill: #000;
			position relative
			z-index 2
		}
		.callbutton {
			text2();
			color: $$Pink;
			padding 7px 18px;
			border 1px solid $$Pink
			radius: 2px;
			
			transition: .25s __cubic;
			hoverButton()
		}
		.hr {
			font-size 0;
			height 1px
			background-color rgba(#000, 0.10);
			+media(991) {
				display none
			}
		}
		.extra {
			display: none;
			grid-auto-flow: column;		
			justify-content: center;
			align-items: center;
			+media(991) {
				display: grid;
			}
		}
		.mobile {
			color: #000;
			transition: .25s __cubic;
			&:hover {
				color: $$Pink
			}
		}
		.clone {
			display: grid;
			justify-content: stretch;
			align-items: center;
			padding 0 20px
		}
		.clone-list {
			display: grid;
			grid-auto-flow: row;		
			justify-content: stretch;
			align-items: center;

		}
		.clone-item {
			text2();
			padding 13px 0;
			hoverText()
			color: rgba(#000, 0.40);
			&:not(:first-child) {
				border-top 1px solid rgba(#000, 0.10);
			}
		}
		.clone--bg {
			background-color #fff;
			
			// HACK
			margin-bottom: -1px;
		}
		.clone--clear {
			display: grid;
			grid-auto-flow: row;
			gap: 1rem;
			padding: 0;
		}
		.clone--style {
			font-weight 700
			color: #000;
		}
		.info {
			display: grid;
			justify-content: stretch;
			align-items: center;
			background-color $$GrayLite
			padding 30px 20px
			gap: 20px;
			margin-bottom: 4rem;
			border-bottom: 1px solid #ccc;
		}
		.info-hr {
			font-size 0;
			height 1px
			background-color rgba(#000, 0.10);
		}
		.info-address {
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
			+media(425) {
				grid-auto-flow: row;		
			}
		}
		.info-text {
			text3()
			& span {
				display: inline-grid;
			}
		}
		.info-map {
			text3()
			color: rgba(#000, 0.40);
		}
		.info-phone,
		.info-email,
		.info-facebook {
			text3()
		}
		.info-box {
			display: grid;
			grid-auto-flow: column;		
			justify-content: space-between;
			grid-auto-columns: auto;
			gap: 10px;
			+media(375) {
				& > :last-child {
					grid-row: 2;
					grid-column: 1;
				}
			}
		}
		
		.showmenu {
			display none
			position: relative;
			top: 0;
			left: 0;
			overflow-x: auto;
			max-height 100vh
			z-index: 123;
			width: 100%;
			transition: ease .25s;
			
			
			+media(991) {
				display: grid;
				transform translateY(-123%)
			}
		}
		
	}
}

.myheader__showmenu.open {
	transform translateY(0)
}