//============================
//    Name: Main page
//============================

__pageMaxWidth = 1280px;

startpage {
	+__() {
		.section--background {
			background-color #f7f7f7;
		}
		.box {
			display: grid;
			grid-auto-flow: row;		
			grid-auto-rows: auto 1fr;
			width __pageMaxWidth
			margin auto
			justify-content: stretch;
			align-items: start;
			padding 3rem 0
			
			gap: 10px;
			
			min-height 100vh
		}
		.item {
			display: grid;
			align-items: center;
			justify-content: center;
		}
		.title {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			align-items: center;
			gap: 1rem;
			
			background-color #fff;
			radius: 2px;
			padding 14px 25px
		}
		.hideloader {
			position relative
		}
		.catalog {
			display: grid;
			grid-auto-columns: 3fr 1fr;
			grid-auto-flow: column;
			justify-content: stretch;
			align-items: start;
			gap: 10px;
		}
		.catalog-list {
			display: grid;
			grid-auto-flow: column;		
			justify-content: stretch;
			align-items: stretch;
			gap: 10px;
			
			grid: 1fr \/ repeat(3, 1fr) ;		
		}
		.filter {
			display: grid;
			grid-auto-flow: row;	
			justify-content: stretch;
			align-items: center;	
			padding 30px
			background-color #fff;
			gap: 30px;
		}
		.filter-footer,
		.filter-header {
			display: grid;
			gap: 10px;
		}
		.filter-title {
			font-setup(fmain, 17, 400);
			color: $$GrayDarkest;
		}
		.filter-list {
			display: grid;
			grid: auto \/ repeat(2, 1fr);
			gap: 10px 0;
		}
		.filter-el {
			display: grid;
			grid-auto-flow: column;
		}
		.button {
			border 0
			radius: 2px;
			height 35px
			display: grid;
			justify-content: center;
			align-items: center;
			background-color $$White;
			font-setup(fmain, 13, 400);
			color: $$GrayDarkest;
			letter-spacing 0;
			transition: .25s __cubic;
			hoverButton()
		}
		.button--main {
			color: #fff;
			hoverButtonMain()
		}
		.label {
			display: grid;
			align-items: center;
			grid-auto-flow: column;
			grid-auto-columns: auto 1fr 0;
			gap: 10px;
			
			font-setup(fmain, 14, 300);
			line-height 14px;
			color: $$GrayDarker;
		}
		.label span {
			display: inline-grid;
			width: 14px;
			height: 14px;
			border: 1px solid #d7d7d7;
			font-size 0
			position relative
			
			// transition: .25s __cubic;
		}
		.filter-input input {
			display none
		}
	}
}

.startpage__label:hover {
	hoverText()
	span {
		border-color: $$Blue
	}
}
input[type="checkbox"]:checked + .startpage__label span {
	background-color $$Blue
	border-color: $$Blue
	&:before {
		content: '';
		display: grid;
		width: 5px;
		height: 10px;
		border: solid #fff;
		border-width: 0 1.5px 1.5px 0;
		transform: rotate(45deg) translateX(-50%);
		position: absolute;
		left 45%
		top 15%
	}
}

stock {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row;
			justify-content: stretch;
			align-items: stretch;
			grid-auto-rows: auto auto 1fr auto;
			
			radius: 2px;
			background-color #fff;
			padding 16px 25px 32px
			
			gap: 20px;
		}
		.stars {
			display: grid;
			grid-auto-flow: column;		
			gap: 5px;
		}

		.column {
			display: grid;
			grid-auto-flow: column dense;	
		}
		.between {
			justify-content: space-between;
			align-items: center;
		}
		.code {
			font-setup(fmain, 12, 300);
			color: $$GrayDark;
		}
		.in {
			display: grid;
			grid-auto-flow: column;
			justify-content: start;
			align-items: baseline;
			gap: 5px;
			
			font-setup(fmain, 14, 300);
			color: $$GrayDark;
			
			transition: .25s __cubic;
		}
		.picture {
			display: grid;
			height 145px
			max-height 145px
			overflow: hidden;
		}
		.info {
			display: grid;
			gap: 15px;
			align-items: start;
			grid-auto-rows: 1fr;
		}
		.list {
			display: grid;
			gap: 6px;
		}
		.list-item {
			display: grid;
			grid-auto-flow: column;	
			justify-content: start;
			gap: 10px;
		}
		.list-el {
			font-setup(fmain, 12, 300);
			color: $$GrayDark;
			letter-spacing: normal;
			line-height: normal;
			&:not(:first-child) {
				color: $$GrayDarkest
				font-weight 400
				text-overflow: ellipsis;
			}
		}
		
		.button {
			border 0
			radius: 2px;
			display: grid;
			grid-auto-flow: column;		
			justify-content: center;
			align-items: end;
			background-color $$White;
			font-setup(fmain, 13, 400);
			color: $$GrayDarkest;
			letter-spacing 0;
			
			padding 8px 15px 9px
			gap: 10px;
			
			transition: .25s __cubic;
			hoverButton()
		}
		.button span {
			font-setup(fmain, 14, 400);
			line-height: normal;
			letter-spacing: normal;
		}
		.button--main {
			color: #fff;
			hoverButtonMain()
		}
		
		.price {
			display: grid;
			gap: 15px;
		}
		.price-el {
			display: grid;
			gap: 5px;
		}
		.price-main {
			font-setup(fmain, 25, 400);
		}
		.price-bonus {
			font-setup(fmain, 12, 400);
			color: $$BlueLight
		}
		.h4 {
			font-setup(fmain, 18, 400);
			color: $$GrayDarkest
			letter-spacing: normal;
			line-height: normal;
			max-height: 66px;
			overflow hidden
		}
		.name {
			display: grid;
			gap: 10px;
		}
		.extra {
			display: grid;
			grid-auto-flow: column;		
			justify-content: center;
			align-items: center;
			gap: 20px;
		}
		.favorites {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;
		}
		.repain {
			transition: hover .25s __cubic;
			color: $$Blue;
			&:hover {
				cursor pointer
				color: $$BlueDark;
			}
		}
		.cursor {
			cursor pointer
		}
		.stars-el {
			display none
			&:not(:first-child) {
				display: grid;
			}
		}
		.svg {
			width 20px
			height 20px
			&--cart {
				width 18px
				height 18px
				fill: #0000;
			}
			&--checked {
				width 12px
				height 12px
			}
			&--star {
				width 10px
				height 10px
				color: $$Yellow;
				
				cursor pointer
				transition: transform .25s __cubic;
			}
		}
	}
}

.stock__stars-el.active {
	color: $$Yellow 
}
.stock__stars-el.active ~ .stock__stars-el {
	color: $$GrayLight;
}
.stock__stars-el:hover {
	color: $$Yellow
	transform scale(1.5);
	
}

.stock__cursor.anima {
	animation flip .23s forwards
}

.stock__repain.hidden {
	display none
}
.stock__repain.success {
	animation flip .43s forwards
}

.stock__in.success {
	color: $$Green
	fill: $$Green
}
.stock__in.error {
	color: $$GrayDarkest
	fill: $$GrayDarkest
}

+key(flip) {
	0% {
		transform rotateY(0) scale(1)
	}
	25% {
		transform rotateY(45deg) scale(.58)
	}
	50% {
		transform rotateY(90deg) scale(.68)
	}
	85% {
		transform rotateY(45deg) scale(.88)
	}
	100% {
		transform rotateY(0) scale(1)
	}
}

// lds -----------------------
.lds-ripple {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 4rem;
	height: 4rem;
	transform: translate(120%, -45%);
}
.lds-ripple div {
	position: absolute;
	border: 4px solid $$BlueLight;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 28px;
		left: 28px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: -1px;
		left: -1px;
		width: 58px;
		height: 58px;
		opacity: 0;
	}
}

[data-stock-id="2"] {
	background-color #ffdfdf
}