//============================
//    	Name: COLORS
//============================
$$White = #f7f7f7;

$$GrayLighter = #d3e5f8;
$$GrayLight = #dfdfdf;
$$Gray = #bfbfbf;
$$GrayDark = #7e7e7e;
$$GrayDarker = #4a4a4a;
$$GrayDarkest = #333333;
	
$$BlueLight = #3e8bdc
$$Blue = #0284c6
$$BlueDark = #0a608b
	
$$Green = #32ca00;
$$Yellow = #ffcb31;

$$Button = $$White;
$$ButtonHover = $$GrayLight;
$$ButtonActive = $$GrayLight;

$$MainButton = $$Blue;
$$MainButtonHover = $$BlueDark;
$$MainButtonActive = $$BlueDark;

$$Text = $$BlueLight;
$$TextHover = $$Blue;
$$TextActive = $$Blue;

/* ==== ----- ==== */ 

// Mobile-header-setup
mobile1() {
	font-setup(fmain, 26, 400);
	line-height 30px;
}

// header-setup
header1() {
	font-setup(fmain, 60, 400);
	line-height 60px;
	letter-spacing -2px;
}
header2() {
	font-setup(fmain, 40, 400);
	line-height 50px;
	letter-spacing -1px;
}
header3() {
	font-setup(fmain, 30, 400);
	line-height 40px;
	letter-spacing -1px;
}
header4() {
	font-setup(fmain, 20, 400);
	line-height 30px;
}


// text-setup
text1() {
	font-setup(fmain, 18, 400);
	line-height 26px;
}
text2() {
	font-setup(fmain, 16, 400);
	line-height 24px;
}
text3() {
	font-setup(fmain, 14, 400);
	line-height 20px;
}


hoverButton() {
	&:hover {
		background-color $$ButtonHover;
	}
	&:active {
		background-color $$ButtonActive;
		transform scale(.98);
	}
}
hoverButtonMain() {
	background-color $$MainButton
	&:hover {
		background-color $$MainButtonHover;
	}
	&:active {
		background-color $$MainButtonActive;
		transform scale(.98);
	}
}

hoverText() {
	&:hover {
		color: $$TextHover;
	}
	&:active {
		color: $$TextActive;
	}
}

svg .restyle {
	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0px;
}