//============================
//    	Name: FONTS
//============================
/* --------- Description --------- */
// Normal = of 400.
// Bold   = of 700.
// 100    = Thin. Lightest.
// 200    = Light
// 300    = Light
// 400    = Regular. Normal.
// 500    = Medium.
// 600    = Medium.
// 700    = Bold.
// 800    = Bold.
// 900    = Black. Boldest.
/* --------- Description --------- */

// __fontMain    = 'CircePS';
__fontMain    = 'ProximaNova';
__fontPrimal  = 'Roboto';
__fontGlyphs  = 'Glyphs';

__fontPreffix = 'i-';

/* ==== FONTS ==== */
	fglyph  = __fontPreffix + __fontGlyphs;
	fmain   = __fontPreffix + __fontMain, sans-serif;
	fprimal = __fontPreffix + __fontPrimal, sans-serif;
	/* ==== ---- ==== */ 

/* ==== -------------------- MainFonts -------------------- ==== */
allFonts(name, groupSize, weightSize) {
	
	LiteGroup = 'Light' 'Regular' 'Semibold';
	LiteWeight = 300 400 500
	
	FullGroup = 'Thin' 'Light' 'Regular' 'Medium' 'Bold' 'Black';
	FullWeight = 100 300 400 500 700 900
	
	group = groupSize
	weight = weightSize
	type = 'woff2' 'woff' 'ttf'
	dirName = 'fonts' + '/' + name + '/'
	
	@font-face {
		font-family __fontPreffix + name;
		src: local( __fontPreffix + name + '-' + group[i]), local(__fontPreffix + name + '-' + weight[i]),
		url( dirName + type[0] + '/' +  group[i] + '.' type[0] ) format( type[0] ),
		url( dirName + type[1] + '/' +  group[i] + '.' type[1] ) format( type[1] ),
		url( dirName + type[2] + '/' +  group[i] + '.' type[2] ) format( type[2] );
		font-style: normal;
		font-weight: weight[i]
		font-display: swap;
	}
}
/* ==== ------------------------------------------------- ==== */


/* ==== -------------------- Glyphs -------------------- ==== */
glyphFonts(name) {

	@font-face {
		type = 'woff2' 'woff' 'ttf'
		dirName = 'fonts' + '/' + name + '/'
		x = 0;
		
		font-family __fontPreffix + name;
		src: local(__fontPreffix + name),
		url( dirName + type[x] + '/' + name + '.' type[x] ) format(type[x]);
		font-style: normal;
		font-weight: normal;
		font-display: block;
	}
}
/* ==== ------------------------------------------------- ==== */

/**
 * How much fonts you need?
 * Full-List => 0 .. 5
 * Lite-List => 0 .. 2
 */

/* ==== Loader ==== */
for i in 0 .. 2 {
	allFonts(__fontMain, LiteGroup, LiteWeight);
}
// for i in 0 .. 5 {
// 	allFonts(__fontMain, FullGroup, FullWeight);
// }
// for i in 0 .. 2 {
// 	allFonts(__fontPrimal,	groupFull, weightFull);
// }

	// glyphFonts(__fontGlyphs)
/* ==== ---- ==== */