//============================
//    Name: Header
//============================

$$header = #ffffff;
$$burger-color = #000;
$$header-text = #4a4a4a;

myheader {
	+__() {
		.burger {
			display none
			justify-content: center;
			align-items: center;
			+media(991) {
				display: grid;
			}
		}
		.menu {
			display: grid;
			gap: 4px;
			padding 10px
			cursor pointer
			position relative
			
			transition .25s __cubic
			&:before {
				content: '';
				display: grid;
				width: 2.5rem;
				height: 2.5rem;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: rgba(#ddd, 0.50);;
				position: absolute;
				right 50%
				top 50%
				transform: translate(50%, -50%) scale(0);
				radius: 100%;
			}
		}
		.menu-line { 
			background-color $$burger-color;
			color: $$burger-color;
			width 15px
			height 2px
			transition .25s __cubic
			user-select none
			position relative
			z-index 2
		}

		.navigat--clone {
			display none !important
			+min-media(768) {
				display none
				overflow hidden
			}
			padding unset
		}
	
		 
	}
}

.myheader__list.open { 
	padding: 1.8rem 2rem;
	// background-color #eee
	// min-width: 200px;
}
.myheader__menu:hover:before {
	transition: .25s __cubic;
	transform: translate(50%, -50%) scale(1);
}


.anima-smooth-height {
	animation anima-smooth-height 0.44s forwards
}
+key(anima-smooth-height) {
	0% {
		min-height 0
		padding-bottom 0;
	}
	100% {
		min-height 100%
		padding-bottom 10rem;
	}
}

mixHoverHumburger() {
	top = 3px
	middle = 0
	bot = -3px

	.myheader__menu-line:nth-child(1) {
		transform: translateX(top);
	}
	.myheader__menu-line:nth-child(2) {
		transform: translateX(middle);
	}
	.myheader__menu-line:nth-child(3) {
		transform: translateX(bot);
	}
}

.myheader__menu.open {
	span {
		background-color $$Pink
	}
	mixHoverHumburger();
}


.myheader__menu:hover {
	object {
		fill: $$Pink;
	}
	span {
		background-color $$Pink ;
	}
}