//============================
//		{ SHORTHAND STYLUS }
//============================
@import '../setting/shorthand'

//============================
//    	Name: EDGE
//============================
.stock__stars-el {
	display none
	&:not(:first-child) {
		display: flex;
	}
}