<div class="stock stock__box">

	<div class="stock__group stock__between stock__column ">
		<div class="stock__item stock__stars" data-js="rating" data-rating=3>
			<!-- js -->
		</div>
		<div class="stock__item stock__code">Арт. 34534345</div>
	</div>

	<div class="stock__item stock__picture" data-1js="viewPicture">
		<picture>
			<source srcset="./media/img/product.jpg" media="(min-width: 320px)">
			<img src="./media/img/product.jpg" alt="Picture" title="Picture">
		</picture>
	</div>

	<div class="stock__group stock__info" data-1js="inStock">
		<div class="stock__group stock__name">
			<div class="stock__item stock__in">
				<span class="stock__svg stock__svg--checked"><svg role="picture-svg" class="glyphs__checked">
						<use xlink:href="#id-glyphs-checked"></use>
					</svg></span>
				<span>В наличии</span>
			</div>
			<h4 class="stock__item stock__h4">Canon PowerShot SX400 IS с улучшенной матрицей и объективом</h4>
		</div>
		<div class="stock__group stock__list" data-1js="listProperty">
			<div class="stock__list-item">
				<div class="stock__list-el">Физический размер</div>
				<div class="stock__list-el">23.2 x 15.2 мм</div>
			</div>
			<div class="stock__list-item">
				<div class="stock__list-el">Физический размер</div>
				<div class="stock__list-el">23.2 x 15.2 мм</div>
			</div>
			<div class="stock__list-item">
				<div class="stock__list-el">Физический размер</div>
				<div class="stock__list-el">23.2 x 15.2 мм</div>
			</div>
			<div class="stock__list-item">
				<div class="stock__list-el">Физический размер</div>
				<div class="stock__list-el">23.2 x 15.2 мм</div>
			</div>
		</div>
	</div>

	<div class="stock__group stock__price">
		<div class="stock__group stock__price-el">
			<div class="stock__item stock__price-main">49 999 руб. </div>
			<div class="stock__item stock__price-bonus">+490 бонусов</div>
		</div>

		<div class="stock__group stock__column stock__between">
			<a title="URL" role="link" href="#" class="stock__button stock__button--main">
				<span class="stock__svg stock__svg--cart"><svg role="picture-svg" class="glyphs__cart"><use xlink:href="#id-glyphs-cart"></use></svg></span>
				<span>Купить</span>
				</a>
			<div class="stock__group stock__extra" >
				<div class="stock__group stock__favorites" data-1js="favorites">
					
					<span class="stock__svg stock__repain"><svg role="picture-svg" class="glyphs__heart">
						<use xlink:href="#id-glyphs-heart"></use>
					</svg></span>
					<span class="stock__svg stock__repain hidden"><svg role="picture-svg" class="glyphs__heart-full">
						<use xlink:href="#id-glyphs-heart-full"></use>
					</svg></span>
					
				</div>
			
				<span class="stock__svg stock__repain"><svg role="picture-svg" class="glyphs__comparison">
						<use xlink:href="#id-glyphs-comparison"></use>
					</svg></span>

			</div>
		</div>
	</div>
</div>
