<div role="contentinfo" class="myfooter__section myfooter__section--background DELETE">
	<address class="myfooter__box">
		<div class="myfooter__item">
			<h2 class="myfooter__title">FOOTER</h2>
			<p class="myfooter__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestiae, iusto quisquam.</p>   
		</div>
	</address>
</div> 
