<section class="startpage__section startpage__section--background">
	<div class="startpage__box">
		<div class="startpage__group startpage__title">
			<h2 class="startpage__h2">Получение списка товаров </h2>
			<div class="startpage__hideloader"><div id='loader' class="lds-ripple"><div></div><div></div></div></div>
		</div>
		<div class="startpage__group startpage__catalog">
			<div class="startpage__group startpage__catalog-list" data-js="controller"> 
			
			</div>
			<div class="startpage__group startpage__filter">
				<div class="startpage__group startpage__filter-header">
					<button class="startpage__button startpage__button--main">Показать результат</button>
					<button class="startpage__button">Очистить фильтр</button>
				</div>
				<div class="startpage__group startpage__filter-footer">
					<div class="startpage__filter-title">Производитель</div>
					<div class="startpage__filter-list startpage__filter-input">
						
						<div class="startpage__filter-el">
							<input id="i-cannon" type="checkbox" name="item">
							<label for="i-cannon" class="startpage__label"><span>&nbsp;</span>Canon</label>
						</div>
						<div class="startpage__filter-el">
							<input id="i-cannon" type="checkbox" name="item">
							<label for="i-cannon" class="startpage__label"><span>&nbsp;</span>Canon</label>
						</div>
						<div class="startpage__filter-el">
							<input id="i-cannon" type="checkbox" name="item">
							<label for="i-cannon" class="startpage__label"><span>&nbsp;</span>Canon</label>
						</div>
						<div class="startpage__filter-el">
							<input id="i-cannon" type="checkbox" name="item">
							<label for="i-cannon" class="startpage__label"><span>&nbsp;</span>Canon</label>
						</div>
						<div class="startpage__filter-el">
							<input id="i-cannon" type="checkbox" name="item">
							<label for="i-cannon" class="startpage__label"><span>&nbsp;</span>Canon</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


 

<div class="__device__">&nbsp;</div>
